@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Inter:wght@500&display=swap');

.navbar.custom-navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .navbar-left {
    gap: 8em;
  }
  
  .navbar-links li a {
    padding-bottom: 8px;
  }
  

.navbar-logo {
  font-family: 'Akaya Kanadaka', cursive;
  font-size: 2.1em;
  color: white;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 3em;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: white;
  text-decoration: none;
  font-size: 1.25em;
  padding: 8px 0;
  position: relative;
  transition: color 0.3s ease;
}

.navbar-links li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: white;
  transition: width 0.3s ease;
}

.navbar-links li a:hover::after,
.navbar-links li a.active::after {
  width: 100%;
}

.navbar-buttons {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-top: -4px;
  margin-left: 2em;
}

.btn-outline {
  background: transparent;
  color: white;
  border: 2px solid white;
  font-family: 'Inter', sans-serif;
  font-size: 0.95em;
  padding: 5px 11px;
  border-radius: 6px;
  font-weight: 500;
  transition: all 0.3s ease;
  outline: none;
}

.btn-outline:hover {
  background: white;
  color: black;
  border-color: white;
}

.btn-outline:focus {
  outline: none;
  box-shadow: none;
  border-color: white;
}

.btn-filled {
  background: white;
  color: black;
  border: 2px solid white;
  font-family: 'Inter', sans-serif;
  font-size: 0.95em;
  padding: 5px 8px;
  border-radius: 6px;
  font-weight: 500;
  transition: all 0.3s ease;
  outline: none;
}

.btn-filled:hover {
  background: transparent;
  color: white;
  border-color: white;
}

.btn-filled:focus {
  outline: none;
  box-shadow: none;
  border-color: white;
}
